.body{
    background-color:antiquewhite;
}
.main{
    width:290px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
   


}
.text{
    background-color:rgb(235, 70, 152);
    padding: 10px  0 ;
    margin-top: 150px;
    margin-bottom: 5px ;
    font-weight: 600;
    font-size: 30px;
    
}
span{
    color:rgb(197, 162, 8);
}
.square{
    width: 90px;
    height: 90px;
    background-color:rgb(235, 70, 152);
    float: left;
    margin: 3px;
    font-size: 60px;
}
.square:hover{
    background-color: black;
    cursor: pointer;
}